<!DOCTYPE html>
<html>
<head data-th-replace="~{header :: head}"></head>
<body>

<header data-th-replace="~{header :: #page-header}"></header>

<h1>회원 조회</h1>

<div data-th-unless="${user}">
    <p>없는 회원입니다.</p>
</div>

<div data-th-if="${user}">
    <form enctype="multipart/form-data"
          method="post">
        <a href="https://kr.object.ncloudstorage.com/bitcamp-bucket118/user/${user.photo == null ? 'default.png' : user.photo}">
            <img src="https://p2zqyggq4939.edge.naverncp.com/UZxHbepmRn/user/${user.photo == null ? 'default.png' : user.photo}?type=f&w=100&h=100">
        </a><input name="file" type="file"><br>
        번호: <input data-th-value="${user.no}" readonly type='text' value='100'><br>
        이름: <input data-th-value='${user.name}' name='name' type='text' value='홍길동'><br>
        이메일: <input data-th-value='${user.email}' name='email' type='email' value='hong@test.com'><br>
        암호: <input name='password' type='password'><br>
        연락처: <input data-th-value='${user.tel}' name='tel' type='tel' value='010-1111-2222'><br>
        <button>변경</button>
        <button onclick='deleteUser(${user.no})' type='button'>삭제</button>
    </form>

    <script>
    function deleteUser(no) {
        console.log("삭제 실행!");
        const xhr = new XMLHttpRequest();
        xhr.open("DELETE", location.href, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                location.href = "../users";
            } else {  // 오류가 발생했을 때
                window.alert("삭제 실패입니다!");
            }
        };
        xhr.send();
    }
    </script>
</div>

</body>
</html>